%body
.flex.justify-center.pr-32.pl-32.pt-16
  .h-48.lg:h-auto.lg:w-48.flex-none.bg-cover.rounded-t.lg:rounded-t-none.lg:rounded-l.text-center.overflow-hidden{style: "background-image: url('https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/1934658_10154604810679692_2073406639921177527_n.jpg?_nc_cat=108&_nc_ht=scontent-arn2-1.xx&oh=31c5fe96643bcca587fc099dec435b1b&oe=5CE1B61D')", title: "COYG"}
  .border-r.border-b.border-l.border-grey-light.lg:border-l-0.lg:border-t.lg:border-grey-light.bg-white.rounded-b.lg:rounded-b-none.lg:rounded-r.p-4.flex.flex-col.justify-between.leading-normal
    %header
      %p.date= @project.created_at.strftime('%A, %B %d')
      %h1= @project.title
      %hr/
    .content
      .markdown= @project.description

      .button_wrapper
        %a.project_button{href: "#{@project.link}", target: "_blank"}Visit #{@project.title}
      %hr/
      
      .button_wrapper
        %a.project_button{href: "#{@project.link}", target: "_blank"}Visit the Github of #{@project.title} project.
      %hr/