<!DOCTYPE html>
!!!
= render 'partials/navbar' 

%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsPortfolio
    = favicon_link_tag 'little_jon.ico'
    = csrf_meta_tags
    = csp_meta_tag
    %link{crossorigin: "anonymous", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", rel: "stylesheet"}/
    %script{crossorigin: "anonymous", integrity: "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", src: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %link{href: "https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css", rel: "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div
      %a{href: "https://unsplash.com/photos/YTmgx_ru39U", target: "_blank"}
        //%h1 Family.
        //%img{alt: "A photo of a fox", src: "https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/37078069_10157499937344692_2949962196647411712_o.jpg?_nc_cat=108&_nc_ht=scontent-arn2-1.xx&oh=b801601ebfb1d2febeb10ab4a2ef47b9&oe=5D0C1A77"}/
      .flex.justify-center.bg-fixed-repeat.bg-cover
        = image_tag 'programmerFound.png', alt: '', height: '200px', width: '3000px', class: ''
    = yield